PORT=
MONGO_URI=
SMTP_USER=
SMTP_PASS=
JWT_SECRET=
DEFAULT_PROFILE_PIC=
BASE_URL=

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OPEN KEY
OPENAI_KEY=

# STRIPE
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_KEY=